.App {
  text-align: center;
}

.tool{
  display: flex;
}
.head{
  display: flex;
}
.log{
  display: flex;
margin-left:auto;
}

.user{
  display: flex;
  flex-direction: column;
  gap:20px;

}
.modalContainer {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 99999;
  
}
.container{
  border: 2px solid black;
  align-items: center;
  justify-content: center;
  width:550px;
  height:100%;
  margin-top: 30px;
  
}
.lgbtn{
text-decoration: none;
}
.header{
  display: flex;
  justify-content: center;
  justify-items: center;
}